
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */