body
{
	font-family: 'Lato', sans-serif;
	background-color: lightblue;
}
#container
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;	
}
#logo
{
	color: white;
	margin-top: 20px;
	font-size: 50px;
	letter-spacing: 2px;
	font-weight: 900;
	text-align: center;
}	
aside
{
	background-color: lightgreen;
	margin-top: 20px;
	padding:5px;
	text-align: center;
	width:1130.5px;
}
ol
{
	list-style-type: none;
	font-size: 18px;
	height:30px;
	padding:0px;
	line-height: 200%;
	margin-top:0px;
	margin-bottom:0px;	
}
ol a
{
	color: yellow;
	text-decoration:none;
	text-align: center; 
	display: block;
	padding:0px;
	width:186px;
	font-size: 18.4px;
}
ol>li
{
	float:left;
	height: 40px;
	border-right:2px dotted black;
}
ol>li:first-child
{
	border-left:2px dotted black;
}
ol>li:hover
{
	background-color:pink;
}	
ol>li:hover>a
{
	color:red;
}
#nav
{
	background-color: lightgreen;
	margin-top: 20px;
	padding:5px;
	text-align: center;
	width:566px;
	margin-left:287px;
}
ul
{
	list-style-type: none;
	font-size: 18px;
	height:30px;
	padding:0px;
	line-height: 200%;
	margin-top:0px;
	margin-bottom:0px;	
}
ol > li > ul > li {
  background-color:green;
  border-top:2px dotted black;
  position:relative;
}

ol > li > ul > li:hover {
  background-color:lightgray;
}

ol > li > ul > li:hover a {
  color:red;
}
ol > li > ul 
{
  display:none;
}

ol > li:hover > ul 
{
  display:block;
}
#cytat
{
	background-color:#4B9E7D;
	margin-top:15px;
	margin-bottom:15px;
	width:1139.5px;
	text-align:center;
	padding:1px;
}
#animation-bar
{
	text-align: center;
	font-size:30px;
	color: red;
	border:5px dotted blue;
	padding:15px;
	animation-name:YERBA;
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-direction:alternate

}
@keyframes YERBA
{
	0%{width:300px;}
	100%{width:1100.5px;}
}
#main
{
	background-color:cyan;
	margin-top:15px;
	margin-bottom:10px;
	text-align:center;
	width:1134.5px;
	padding:3px;
}
#dialog
{
	font-size:34px;
	background-color:pink;
	text-align:center;
	opacity:0.85;
}
#lokal
{
	width:auto;
	background-color:#9975AE;
	text-align:center;padding:2px;
}
#java
{
	text-align:center;
	margin-top:5px;
	font-size:25px;
}
#guz
{
	margin-left:47.3%;
}
#guz2
{
	margin-left:47%;
}
#tile1
{
	float:left;
	border-right:2px dotted black;
	border-left:2px dotted black;
	margin-left:420px;
	margin-bottom:10px;
}
#tile2
{
	float:left;	
}
#tile3
{
	float:left;
	border-left:2px dotted black;
	border-right:2px dotted black;
}
.tiles:hover
{
	opacity:0.8;
	transform:scale(1.1);
}
#tile2:hover
{
	transform:scale(0.8);
	background-color:cyan;
}
footer
{
	margin-top:10px;
	font-size: 30px;
	text-align:center;
	width:1140.5px;
}
#tile4
{
	margin-top:7px;
	margin-right:522px;
	margin-left:522px;
}
#galeria1
{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.photo
{
	margin:10px 0;
	width:370px;
	background-color:white;
	padding:10px;
	opacity:0.8;
	border-radius:5px;
	border:1px solid silver;
	box-sizing:border-box;
	display:flex;
	transform:rotate(5deg);
	transistion:0.3s all ease-in-out;
}
.photo img
{
	width:100px;
	flex-basis:100%;
}
.photo:hover
{
	opacity:1;
	transform: scale(1.1);
}
#cofnij
{
	float:right;
	font-size:30px;	
}
#ankieta
{
	margin-left:200px;
	margin-right:200px;
	font-size:35px;
}
h1
{
	text-align:center;
	font-size:55px;
}
#dialog1
{
	font-size:34px;
	background-color:lightgreen;
	text-align:center;
	opacity:0.65;
}
@media (max-width: 800px) 
{
	#container
	{
		width: auto;
        margin: 0px;
	}
	#logo 
	{
        font-size: 30px;
        line-height: 43px;
		background-color:red;
    }
	aside
	{
		width: auto;
		margin-top:5px;
        margin-bottom: 0px;
		margin-right: 0px; 
		margin-left: 0px;
		height:245px;
	}
	#main
	{
		width: auto;
        margin-top:5px;
        margin-bottom: 0px;
		margin-right: 0px; 
		margin-left: 0px;
		font-size:20px;
		background-color:pink;
	}
	footer
	{
		width:auto;
		margin-top:15px;
		margin-bottom: 0px;
		margin-right: 0px; 
		margin-left: 0px;
		font-size:20px;
		background-color:gray;
	}
	
	#tile1{display:none;}
	#tile2{display:none;}
	#tile3{display:none;}
	#animation-bar{display:none;}
	#cytat{display:none;}
	#a{display:none;}
	#b{display:none;}
	#c{display:none;}
	#d{display:none;}
	#lokal{display:none;}
	#dolokala{display:none;}
	#java{display:none;}
	#guz{display:none;}
	#guz2{display:none;}
	#tile4{display:none;}
	#dojavy{display:none;}
	#nav{display:none};
	h1{display:none;}
	#second{display:none;}
	#third{display:none;}
	ol a
	{
		color: yellow;
		text-decoration:none;
		text-align: center; 
		display: block;
		padding:0px;
		width:auto;
		font-size: 18.4px;
	}
	ol>li
	{
		float:none;
		height: 40px;
		border-right:0px;
		border-top:1px dotted black;
	}
	ol>li:first-child
	{
		border-left:0px dotted black;
		border-top:1px dotted black;
	}	
	ol>li:last-child
	{
		border-bottom:1px dotted black;
	}
	ol>li:hover
	{
		background-color:lightgreen;
		cursor:default;
	}
	ol>li:hover>a
	{
		color:yellow;
		cursor:default;
	}
	#first
	{
		width:auto;
		background-color:green;
		margin:auto;
	}
	.photo{width:auto;}
}
table
{
	font-size:35px;
	border: 3px solid red;
	text-align:center;
	margin-top:50px;
	width:1140px;
	height:400px;
}
tr,th,td
{
	border: 3px solid black;
}
th
{
	background-color:pink;
}
th:hover
{
	color:red;
}
tr:hover
{
	background-color:yellow;
}
strong
{
	color:orange;
}
#e-mail
{
	margin-top:20px;
	font-size:40px;
	text-align:center;
}
p:hover
{
	cursor:pointer;
	transform:scale(1.1);
}
#svg
{
	margin-top:30px;
}
.content
{
	margin-top:30px;
	margin-bottom:10px;
	text-align:center;
	width:1134.5px;
	padding:3px;
	font-size:30px;
	
}
#first
{
	color:gray;
	text-align:center;
}
#second
{
	color:purple;
}	
#third
{
	color:green;
}
#svg
{
	animation-name:SVG;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	text-align: center;
	margin-right:300px;
}

@keyframes SVG
{
	0%{width:800px;opacity:0;stroke-dashoffset:1800;}
	100%{width:1100.5px;opacity:10;stroke-dashoffset:1800;}
}
